# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment variables
.env*
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE & Editor folders
.idea/
.vscode/
.project
.pydevproject
.settings/

# Test and coverage reports
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml

# Streamlit
.streamlit/